<!DOCTYPE html>
<html>
<head>
  <title>Logarythm</title>
  <%= stylesheet_link_tag    "logarythm/application", media: "all" %>
  <%= javascript_include_tag "logarythm/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
